<template>
  <v-content>
    <v-card>
      <v-card class="d-flex flex-row mb-3">
        <v-text-field
          placeholder="firstName"
          filled
          outlined
          v-model="searchFilter.firstName"
        />
        <v-text-field
          placeholder="fathersName"
          filled
          outlined
          v-model="searchFilter.fathersName"
        />
        <v-text-field
          placeholder="lastName"
          filled
          outlined
          v-model="searchFilter.lastName"
        />
      </v-card>
      <v-card class="d-flex flex-row mb-3">
        <v-select
          :items="faculties"
          item-text="name"
          label="Faculty"
          solo
          v-model="selectedFaculty"
          return-object
          filled
          outlined
        ></v-select>
        <v-select
          :items="selectedFaculty.cathedras"
          item-text="name"
          label="Cathedra"
          v-model="selectedCathedra"
          solo
          return-object
          filled
          outlined
        ></v-select>
      </v-card>
      <v-card class="d-flex flex-row mb-3">
        <v-select
          :items="criteria"
          item-text="description"
          label="Criterion"
          solo
          v-model="selectedCriterion"
          return-object
          filled
          outlined
        ></v-select>
        <v-select
          :items="selectedCriterion.subCriteria"
          item-text="description"
          label="SubCriterion"
          v-model="selectedSubCriterion"
          solo
          return-object
          filled
          outlined
        ></v-select>
      </v-card>
      <v-card-actions>
        <v-btn color="primary" @click="fillFilter">Search</v-btn>
        <v-btn color="primary" @click="resetFilter">Reset filter</v-btn>
      </v-card-actions>
    </v-card>
    <v-data-table :items="searchResults" :headers="tableHeaders"></v-data-table>
  </v-content>
</template>

<script>
import axios from "axios";

export default {
  name: "Search",
  data: () => ({
    selectedFaculty: {},
    selectedCathedra: {},
    faculties: [],
    criteria: [],
    selectedCriterion: {},
    selectedSubCriterion: {},
    cathedras: [],
    searchFilter: {
      firstName: null,
      fathersName: null,
      lastName: null,
      cathedra: null,
      faculty: null,
      criterion: null,
      subCriterion: null,
    },
    searchResults: [],
    tableHeaders: [
      { text: "ФИО", value: "fullName" },
      { text: "Факультет", value: "faculty" },
      { text: "Кафедра", value: "cathedra" },
      { text: "Критерий", value: "criterion" },
      { text: "Принцип начисления баллов", value: "subCriterion" },
      { text: "Баллы", value: "score" },
    ],
  }),
  mounted() {
    this.searchByFilter();
    this.getFaculties();
    this.getCriteria();
  },
  methods: {
    getFaculties() {
      axios
        .get("/api/faculty")
        .then((value) => {
          console.log(value);
          this.faculties = value.data;
        })
        // eslint-disable-next-line no-unused-vars
        .catch((reason) => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
    },
    getCriteria() {
      axios
        .get("/api/criterion")
        .then((value) => {
          console.log(value);
          this.criteria = value.data;
        })
        // eslint-disable-next-line no-unused-vars
        .catch((reason) => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
    },
    fillFilter() {
      let name1 = this.searchFilter.firstName;
      let name2 = this.searchFilter.fathersName;
      let name3 = this.searchFilter.lastName;
      this.searchFilter = {
        firstName: name1,
        fathersName: name2,
        lastName: name3,
        cathedra: this.selectedCathedra.id,
        faculty: this.selectedFaculty.id,
        criterion: this.selectedCriterion.id,
        subCriterion: this.selectedSubCriterion.id,
      };
      this.searchByFilter();
    },
    searchByFilter() {
      axios
        .post("/api/search", this.searchFilter)
        // eslint-disable-next-line no-unused-vars
        .then((value) => (this.searchResults = value.data))
        // eslint-disable-next-line no-unused-vars
        .catch((reason) => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
    },
    resetFilter() {
      this.selectedSubCriterion = {};
      this.selectedCriterion = {};
      this.selectedFaculty = {};
      this.selectedCathedra = {};
      this.searchFilter = {
        firstName: null,
        fathersName: null,
        lastName: null,
        cathedra: null,
        faculty: null,
        criterion: null,
        subCriterion: null,
      };
    },
  },
};
</script>

<style scoped></style>
