<template>
  <v-content>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar color="primary" flat>
              <v-toolbar-title>Login</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text class="pb-0">
              <form id="loginForm" @submit.prevent="handleLogin">
                <v-text-field
                  v-model="user.username"
                  label="Login"
                  name="login"
                  type="text"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="user.password"
                  id="password"
                  label="Password"
                  name="password"
                  type="password"
                  required
                >
                </v-text-field>
              </form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :loading="loading"
                color="primary"
                tile
                type="submit"
                form="loginForm"
                >Login</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import User from "../model/user";
import { mapGetters } from "vuex";
export default {
  props: {
    source: String,
  },
  data() {
    return {
      user: new User(),
      loading: false,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    ...mapGetters({
      hasRole: "auth/hasRole",
    }),
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/rating");
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      if (this.user.username && this.user.password) {
        this.$store.dispatch("auth/login", this.user).then(
          () => {
            if (this.hasRole("EXPERT")) {
              this.$router.push("/teacher/" + this.$store.state.auth.user.id);
            } else {
              this.$router.push("/rating/" + this.$store.state.auth.user.id);
            }
          },
          // eslint-disable-next-line no-unused-vars
          (error) => {
            this.user = new User();
            this.loading = false;
            this.$toast.error("Invalid credentials", { position: "top-right" });
          }
        );
      }
    },
  },
};
</script>
