<template>
  <v-content>
    <v-simple-table>
      <template v-slot:default>
        <tbody>
          <tr>
            <td>{{ infoNames.fullName }}</td>
            <td>
              {{
                teacherInfo.firstName +
                " " +
                teacherInfo.fathersName +
                " " +
                teacherInfo.lastName
              }}
            </td>
          </tr>
          <tr>
            <td>{{ infoNames.degree }}</td>
            <td>{{ teacherInfo.degree }}</td>
          </tr>
          <tr>
            <td>{{ infoNames.faculty }}</td>
            <td>{{ teacherInfo.faculty }}</td>
          </tr>
          <tr>
            <td>{{ infoNames.cathedra }}</td>
            <td>{{ teacherInfo.cathedra }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-content>
</template>

<script>
import axios from "axios";

export default {
  name: "TeacherInfo",
  props: ["id"],
  data: () => ({
    teacherInfo: {},
    infoNames: {
      fullName: "ФИО",
      degree: "Ученая степень",
      faculty: "Факультет",
      cathedra: "Кафедра",
    },
  }),
  mounted() {
    this.getTeacherInfo();
  },
  methods: {
    getTeacherInfo() {
      axios
        .get("/api/teacher/info/" + this.id)
        .then((value) => (this.teacherInfo = value.data))
        // eslint-disable-next-line no-unused-vars
        .catch((reason) => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
    },
  },
};
</script>

<style scoped></style>
